
body{
    background: #b1ab96;
}
.header{
    width: 100%;
    background:#920a16 ;
    color: #fdfdfd;
}
.contenedor{
    background: #fdfdfd;
}

.form{
    width: 100%;
}

.none{
    display: none;
}
.block{
    display: block;
}